.header_right{
    justify-content: right;
    margin-top: 0px;
}

.item  a {
    padding: 0.5vh;
    margin: 0.2vh;
    text-decoration: none;
}
.overlay-text{
    position: relative;
    bottom: 5vh;
}
.trainer img {
    height: 95px;
    width: 95px;
   
}
.box{
    height: 12vh;
    background: linear-gradient( 45deg, rgb(221, 58, 58), rgb(245, 130, 149),rgb(237, 237, 9));
    position: relative;
}
.trainer > .content{
   text-align: center;
    
}

.navbar{
    --bs-navbar-padding-y: 2.5rem;
}

:root{
    --bgcolor:black;
    --fontcolor:grey;
    --bs-navbar-padding-y: 2.5rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gainsboro;
}

i{
    color: blue;
}

p{
    color: gray;
}

hr{
    color: gray;
}

header{
    position: fixed;
    z-index: 5;
    top: -10px;
    height: 75px;
    width: 61%;
    background-color: white;
    display: flex;
    padding: 15px;
    margin: 10px;
    justify-content: space-between;
    text-align: center;
}

.Header-left{
    display: flex;
    gap: 20px;
}

.FriendLink{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 30px;
    height: 25px;
    text-align: center;
}

.Search{
    height: 30px;
    padding: 20px;
    width: 300px;
    border: none;
    background-color: #edf3f8;
}

.Header-right{
    display: flex;
    gap: 35px;
    color: black;
}

.Header-right>div{
    display: flex;
    gap: 20px;
}

.Hrader-right-pic{
    display: flex;
    border-left: 1px solid black;
    padding-left: 15px;
    gap: 15px;
}

.page-btn1{
    border: none;
    background:none;
    cursor: pointer;
    color: black;
}

.page-btn{
    border: none;
    background:none;
    cursor: pointer;
    color: black;
}

.page-btn:hover{
    color: red;
    border-bottom: 2px solid red;
}

.Header-text{
    height: 10px;
    font-size: 15px;
    text-align: center;
}

.page-left{
    width: 250px;
    height: 800px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: white;
}

.page1left-top{
    padding: 10px;
    text-align: center;
    position: relative;
    top: -35px;
    color: black;
}

.page1left-top>img{
    width: 70px;
}

.page1left-mid{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.page1left-top-color{
    background:rgb(226, 18, 105);
    border-radius: 20px;
    width: 250px;
    height: 70px;
}

.page1left-mid1 {
    display: flex;
    justify-content: space-between;
}

.page1left-mid2 {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.page1left-footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

.page-mid{
    top: 100px;
    left: 280px;
    position: absolute;
}

.mid-top{
    background-color: white;
    width: 700px;
    height: 70px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mtt{
    gap: 20px;
    display: flex;
}

.mtt-t{
    width: 600px;
    border-radius: 20px;
    padding: 10px;
}

.mtm{
    display: flex;
    justify-content: space-evenly;
}


.mid-mid{
    width: 740px;
    height: 700px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}
.mmt{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
.mmtt>img{
    margin-right: 10px;
}

.mmt>h1{
    margin-right: 15px;
}
.mmtt{
    display: flex;
    padding: 0px 20px;
}
.mmt-f{
    padding: 10px 25px;
    display: flex;
}
.mmt-footer{
    display: flex;
    padding: 10px 20px;
    gap: 40px;
}


.pageRight{
    position: absolute;
    top: 100px;
    right: 0px;
}

.PRight-top{
    background-color: white;
    width: 260px;
    height: 260px;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.PRight-top>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.PRight-mid{
    background-color: white;
    margin-top: 10px;
    width: 260px;
    height: 160px;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.PRight-mid>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}